@include keyframes(cloud-fun) {
  0% {
    background-position-x: 0px;
  } 
  100% {
    background-position-x: 100%;
  }
}

.header-wrap {
  background-color: $px-blue-light-10;
  padding-bottom: 1.8em;
}

.region-header {
  position: relative;
  .block {
    padding: 0;    
    > .block-container {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
  background-color: #fff;
}    

.page-frontpage .region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
  background-color: $px-blue-sky;

  &.night-time {
    background-color: darken($px-blue-sky, 40%);
    .block {
      opacity: 0.88;
      &:before {
        opacity: 0.4;
      }
    }  
  }

   &.morning-time {
    background-color: lighten($px-blue-sky, 10%);
    .block {
      opacity: 0.92;
      &:before {
        opacity: 0.6;
      }
      .header_site-slogan {
        color: $px-blue-dark;
      }
    }
  }

  .block {
    &:before, &:after {
      top: 0;
      left: 0;
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/header-textures/header-spring-clouds-.png);
      background-position-y: 4px;
      @include background-size(auto 100%);
      background-repeat: repeat-x;
    }
    &:before {      
      @include animation(128s cloud-fun infinite linear);
    }
    &:after {
      background-image: url(../images/header-textures/px_header-background-summer.png);
      z-index: -1;
    }
    p {
      margin: 0;
      padding: 0;
    }
    img {
      height: 20em;
      width: auto;
      vertical-align: bottom;
    }
    .header_site-slogan {
      font-family: $helia;
      position: absolute;
      top: 0.6em;
      margin-left: $zen-gutter-width / 2;
      color: $px-white;
      z-index: 5;
      @include mobile-landscape-and-below {
        font-size: 1.2em;
        top: 0;
      }
    }
  }
}

.omfg-headr {
  max-height: 20em;
  position: relative;
  bottom: -6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

.header_site-slogan {
  z-index: 10;
  cursor: pointer;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }
}

img.desaturate {
  -webkit-filter: grayscale(100%);
}
.header-display-screen {
  cursor: pointer;
}


@include keyframes(flipped) {

  0% {
    @include transform(scale(1,1) translate( 0, 0));
  }
  50% {
    @include transform(scale(1,1) translate( 0, 0));
  }
  50.01% {
    @include transform(scale(-1,1) translate(-154em, 0));
  }
  99.99%{
    @include transform(scale(-1,1) translate(-154em, 0));
  }
  100% {
    @include transform(scale(1,1) translate( 0, 0));
  }
}

g.flipped {
@include animation(flipped 15s ease-in-out infinite);
}


@include keyframes(cabin-rotation) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(-360deg);
  }
}
.cabin {
  @include transform-origin(50% 50% 0);
  @include animation(0, 30s, cabin-rotation, linear, infinite);
}

@include keyframes(wheel-rotation) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
.wheel-r {
  @include transform-origin(50% 50% 0);
  @include animation(0, 30s, wheel-rotation, linear, infinite);
}


@include keyframes(tower-movement) {
  0% {
    @include transform(translateY(0));
  }
  15% {
    @include transform(translateY(0));
  }
  45% {
    @include transform(translateY(20em));
  }
  60% {
    @include transform(translateY(20em));
  }
  100% {
    @include transform(translateY(0));
  }
}
.tower-viewpoint {
  @include animation(tower-movement 40s linear infinite);
}

@include keyframes(boat) {
  0% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(0.2deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}

.boat {
  @include animation(0, 2s, boat, ease-in-out, infinite);
}





@include keyframes(baloon-flight) {
  0% {
    @include transform(translate(-80vw, 12em));
  }
  50% {
    @include transform(translate(0.2vw, 8em));
  }
  100% {
    @include transform(translate(100vw, 10em));
  }
}
.baloon-flight {
  @include animation(baloon-flight 170s ease-in-out infinite);
}


@include keyframes(air-baloon) {
  0% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(-1deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}

.air-baloon {
  @include animation(air-baloon 8s ease-in-out infinite);
}

@include keyframes(dash) {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
.rollercoaster-line {
  stroke-dasharray: 20, 480;
  @include animation(dash 6s ease-in-out infinite);
}


@include keyframes(skater) {
  0%, 100%{
   @include transform(translate(30em, 0));
  }
  50% {
   @include transform(translate(-30em, 0));
  }
}

g.move-boat {
  @include transition( all 15s ease-in-out);

}

g.right:hover ~ g.move-boat {
  @include transform(translate(50em, 0));
}

g.left:hover ~ g.move-boat {
  @include transform(translate(-50em, 0));
}
