/* line 1, _header.scss */
.omfg-headr {
  max-height: 20em;
  position: relative;
  bottom: -6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 13, _header.scss */
.header_site-slogan {
  z-index: 10;
  cursor: pointer;
}
/* line 16, _header.scss */
.header_site-slogan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 20, _header.scss */
.header_site-slogan ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* line 28, _header.scss */
img.desaturate {
  -webkit-filter: grayscale(100%);
}

/* line 31, _header.scss */
.header-display-screen {
  cursor: pointer;
}

@-moz-keyframes flipped {
  0% {
    -moz-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50.01% {
    -moz-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  99.99% {
    -moz-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  100% {
    -moz-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
}
@-webkit-keyframes flipped {
  0% {
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50.01% {
    -webkit-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  99.99% {
    -webkit-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
}
@keyframes flipped {
  0% {
    -moz-transform: scale(1, 1) translate(0, 0);
    -ms-transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1) translate(0, 0);
    -ms-transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
  50.01% {
    -moz-transform: scale(-1, 1) translate(-154em, 0);
    -ms-transform: scale(-1, 1) translate(-154em, 0);
    -webkit-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  99.99% {
    -moz-transform: scale(-1, 1) translate(-154em, 0);
    -ms-transform: scale(-1, 1) translate(-154em, 0);
    -webkit-transform: scale(-1, 1) translate(-154em, 0);
    transform: scale(-1, 1) translate(-154em, 0);
  }
  100% {
    -moz-transform: scale(1, 1) translate(0, 0);
    -ms-transform: scale(1, 1) translate(0, 0);
    -webkit-transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
}
/* line 55, _header.scss */
g.flipped {
  -moz-animation: flipped 15s ease-in-out infinite;
  -webkit-animation: flipped 15s ease-in-out infinite;
  animation: flipped 15s ease-in-out infinite;
}

@-moz-keyframes cabin-rotation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes cabin-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes cabin-rotation {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* line 68, _header.scss */
.cabin {
  -moz-transform-origin: 50% 50% 0 50%;
  -ms-transform-origin: 50% 50% 0 50%;
  -webkit-transform-origin: 50% 50% 0 50%;
  transform-origin: 50% 50% 0 50%;
  -moz-animation: 0, 30s, cabin-rotation, linear, infinite;
  -webkit-animation: 0, 30s, cabin-rotation, linear, infinite;
  animation: 0, 30s, cabin-rotation, linear, infinite;
}

@-moz-keyframes wheel-rotation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wheel-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes wheel-rotation {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 81, _header.scss */
.wheel-r {
  -moz-transform-origin: 50% 50% 0 50%;
  -ms-transform-origin: 50% 50% 0 50%;
  -webkit-transform-origin: 50% 50% 0 50%;
  transform-origin: 50% 50% 0 50%;
  -moz-animation: 0, 30s, wheel-rotation, linear, infinite;
  -webkit-animation: 0, 30s, wheel-rotation, linear, infinite;
  animation: 0, 30s, wheel-rotation, linear, infinite;
}

@-moz-keyframes tower-movement {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    -moz-transform: translateY(20em);
    transform: translateY(20em);
  }
  60% {
    -moz-transform: translateY(20em);
    transform: translateY(20em);
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes tower-movement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(20em);
    transform: translateY(20em);
  }
  60% {
    -webkit-transform: translateY(20em);
    transform: translateY(20em);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes tower-movement {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -webkit-transform: translateY(20em);
    transform: translateY(20em);
  }
  60% {
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -webkit-transform: translateY(20em);
    transform: translateY(20em);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 104, _header.scss */
.tower-viewpoint {
  -moz-animation: tower-movement 40s linear infinite;
  -webkit-animation: tower-movement 40s linear infinite;
  animation: tower-movement 40s linear infinite;
}

@-moz-keyframes boat {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(0.1deg);
    transform: rotate(0.1deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes boat {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0.1deg);
    transform: rotate(0.1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes boat {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(0.1deg);
    -ms-transform: rotate(0.1deg);
    -webkit-transform: rotate(0.1deg);
    transform: rotate(0.1deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 119, _header.scss */
.boat {
  -moz-animation: 0, 2s, boat, ease-in-out, infinite;
  -webkit-animation: 0, 2s, boat, ease-in-out, infinite;
  animation: 0, 2s, boat, ease-in-out, infinite;
}

@-moz-keyframes baloon-flight {
  0% {
    -moz-transform: translate(-200em, 10em);
    transform: translate(-200em, 10em);
  }
  50% {
    -moz-transform: translate(20em, 6em);
    transform: translate(20em, 6em);
  }
  100% {
    -moz-transform: translate(200em, 10em);
    transform: translate(200em, 10em);
  }
}
@-webkit-keyframes baloon-flight {
  0% {
    -webkit-transform: translate(-200em, 10em);
    transform: translate(-200em, 10em);
  }
  50% {
    -webkit-transform: translate(20em, 6em);
    transform: translate(20em, 6em);
  }
  100% {
    -webkit-transform: translate(200em, 10em);
    transform: translate(200em, 10em);
  }
}
@keyframes baloon-flight {
  0% {
    -moz-transform: translate(-200em, 10em);
    -ms-transform: translate(-200em, 10em);
    -webkit-transform: translate(-200em, 10em);
    transform: translate(-200em, 10em);
  }
  50% {
    -moz-transform: translate(20em, 6em);
    -ms-transform: translate(20em, 6em);
    -webkit-transform: translate(20em, 6em);
    transform: translate(20em, 6em);
  }
  100% {
    -moz-transform: translate(200em, 10em);
    -ms-transform: translate(200em, 10em);
    -webkit-transform: translate(200em, 10em);
    transform: translate(200em, 10em);
  }
}
/* line 135, _header.scss */
.baloon-flight {
  -moz-animation: baloon-flight 40s ease-in-out infinite;
  -webkit-animation: baloon-flight 40s ease-in-out infinite;
  animation: baloon-flight 40s ease-in-out infinite;
}

@-moz-keyframes air-baloon {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes air-baloon {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes air-baloon {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 152, _header.scss */
.air-baloon {
  -moz-animation: air-baloon 3s ease-in-out infinite;
  -webkit-animation: air-baloon 3s ease-in-out infinite;
  animation: air-baloon 3s ease-in-out infinite;
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
/* line 164, _header.scss */
.rollercoaster-line {
  stroke-dasharray: 20, 480;
  -moz-animation: dash 6s ease-in-out infinite;
  -webkit-animation: dash 6s ease-in-out infinite;
  animation: dash 6s ease-in-out infinite;
}

@-moz-keyframes skater {
  0%, 100% {
    -moz-transform: translate(30em, 0);
    transform: translate(30em, 0);
  }
  50% {
    -moz-transform: translate(-30em, 0);
    transform: translate(-30em, 0);
  }
}
@-webkit-keyframes skater {
  0%, 100% {
    -webkit-transform: translate(30em, 0);
    transform: translate(30em, 0);
  }
  50% {
    -webkit-transform: translate(-30em, 0);
    transform: translate(-30em, 0);
  }
}
@keyframes skater {
  0%, 100% {
    -moz-transform: translate(30em, 0);
    -ms-transform: translate(30em, 0);
    -webkit-transform: translate(30em, 0);
    transform: translate(30em, 0);
  }
  50% {
    -moz-transform: translate(-30em, 0);
    -ms-transform: translate(-30em, 0);
    -webkit-transform: translate(-30em, 0);
    transform: translate(-30em, 0);
  }
}
/* line 178, _header.scss */
.omfg-skater {
  cursor: pointer;
  -moz-animation: skater 15s ease-in-out forwards infinite;
  -webkit-animation: skater 15s ease-in-out forwards infinite;
  animation: skater 15s ease-in-out forwards infinite;
}

@-moz-keyframes santas {
  0% {
    -moz-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
  50% {
    -moz-transform: translate(-60px, -10px);
    transform: translate(-60px, -10px);
  }
  100% {
    -moz-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
}
@-webkit-keyframes santas {
  0% {
    -webkit-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
  50% {
    -webkit-transform: translate(-60px, -10px);
    transform: translate(-60px, -10px);
  }
  100% {
    -webkit-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
}
@keyframes santas {
  0% {
    -moz-transform: translate(-60px, -12px);
    -ms-transform: translate(-60px, -12px);
    -webkit-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
  50% {
    -moz-transform: translate(-60px, -10px);
    -ms-transform: translate(-60px, -10px);
    -webkit-transform: translate(-60px, -10px);
    transform: translate(-60px, -10px);
  }
  100% {
    -moz-transform: translate(-60px, -12px);
    -ms-transform: translate(-60px, -12px);
    -webkit-transform: translate(-60px, -12px);
    transform: translate(-60px, -12px);
  }
}
@-moz-keyframes deerone {
  0% {
    -moz-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
  50% {
    -moz-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
  100% {
    -moz-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
}
@-webkit-keyframes deerone {
  0% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
}
@keyframes deerone {
  0% {
    -moz-transform: translate(0px, 8px);
    -ms-transform: translate(0px, 8px);
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
  50% {
    -moz-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
  100% {
    -moz-transform: translate(0px, 8px);
    -ms-transform: translate(0px, 8px);
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
  }
}
@-moz-keyframes deertwo {
  0% {
    -moz-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
  50% {
    -moz-transform: translate(30px, 0px);
    transform: translate(30px, 0px);
  }
  100% {
    -moz-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
}
@-webkit-keyframes deertwo {
  0% {
    -webkit-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
  50% {
    -webkit-transform: translate(30px, 0px);
    transform: translate(30px, 0px);
  }
  100% {
    -webkit-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
}
@keyframes deertwo {
  0% {
    -moz-transform: translate(30px, 10px);
    -ms-transform: translate(30px, 10px);
    -webkit-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
  50% {
    -moz-transform: translate(30px, 0px);
    -ms-transform: translate(30px, 0px);
    -webkit-transform: translate(30px, 0px);
    transform: translate(30px, 0px);
  }
  100% {
    -moz-transform: translate(30px, 10px);
    -ms-transform: translate(30px, 10px);
    -webkit-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
  }
}
@-moz-keyframes deerthree {
  0% {
    -moz-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
  50% {
    -moz-transform: translate(60px, -5px);
    transform: translate(60px, -5px);
  }
  100% {
    -moz-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
}
@-webkit-keyframes deerthree {
  0% {
    -webkit-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
  50% {
    -webkit-transform: translate(60px, -5px);
    transform: translate(60px, -5px);
  }
  100% {
    -webkit-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
}
@keyframes deerthree {
  0% {
    -moz-transform: translate(60px, 12px);
    -ms-transform: translate(60px, 12px);
    -webkit-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
  50% {
    -moz-transform: translate(60px, -5px);
    -ms-transform: translate(60px, -5px);
    -webkit-transform: translate(60px, -5px);
    transform: translate(60px, -5px);
  }
  100% {
    -moz-transform: translate(60px, 12px);
    -ms-transform: translate(60px, 12px);
    -webkit-transform: translate(60px, 12px);
    transform: translate(60px, 12px);
  }
}
@-moz-keyframes deerfour {
  0% {
    -moz-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
  50% {
    -moz-transform: translate(90px, -8px);
    transform: translate(90px, -8px);
  }
  100% {
    -moz-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
}
@-webkit-keyframes deerfour {
  0% {
    -webkit-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
  50% {
    -webkit-transform: translate(90px, -8px);
    transform: translate(90px, -8px);
  }
  100% {
    -webkit-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
}
@keyframes deerfour {
  0% {
    -moz-transform: translate(90px, 16px);
    -ms-transform: translate(90px, 16px);
    -webkit-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
  50% {
    -moz-transform: translate(90px, -8px);
    -ms-transform: translate(90px, -8px);
    -webkit-transform: translate(90px, -8px);
    transform: translate(90px, -8px);
  }
  100% {
    -moz-transform: translate(90px, 16px);
    -ms-transform: translate(90px, 16px);
    -webkit-transform: translate(90px, 16px);
    transform: translate(90px, 16px);
  }
}
/* line 243, _header.scss */
.deer-1 {
  -moz-animation: deerone 5s ease-in-out forwards infinite;
  -webkit-animation: deerone 5s ease-in-out forwards infinite;
  animation: deerone 5s ease-in-out forwards infinite;
}

/* line 247, _header.scss */
.deer-2 {
  -moz-animation: deertwo 5s ease-in-out forwards infinite;
  -webkit-animation: deertwo 5s ease-in-out forwards infinite;
  animation: deertwo 5s ease-in-out forwards infinite;
}

/* line 251, _header.scss */
.deer-3 {
  -moz-animation: deerthree 5s ease-in-out forwards infinite;
  -webkit-animation: deerthree 5s ease-in-out forwards infinite;
  animation: deerthree 5s ease-in-out forwards infinite;
}

/* line 255, _header.scss */
.deer-4 {
  -moz-animation: deerfour 5s ease-in-out forwards infinite;
  -webkit-animation: deerfour 5s ease-in-out forwards infinite;
  animation: deerfour 5s ease-in-out forwards infinite;
}

/* line 259, _header.scss */
.santas {
  -moz-animation: santas 5s ease-in-out forwards infinite;
  -webkit-animation: santas 5s ease-in-out forwards infinite;
  animation: santas 5s ease-in-out forwards infinite;
}

@-moz-keyframes drop {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(0, 6em);
    transform: translate(0, 6em);
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 6em);
    transform: translate(0, 6em);
  }
}
@keyframes drop {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(0, 6em);
    -ms-transform: translate(0, 6em);
    -webkit-transform: translate(0, 6em);
    transform: translate(0, 6em);
  }
}
/* line 272, _header.scss */
.hole {
  display: none;
}

/* line 276, _header.scss */
g.omfg-skater-clicked {
  clip-path: url(#clipping);
  -webkit-animation: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* line 283, _header.scss */
g.omfg-skater-clicked g.hole {
  display: block;
}

/* line 287, _header.scss */
g.omfg-skater-clicked g.drop {
  -moz-animation: drop 0.25s ease-in forwards;
  -webkit-animation: drop 0.25s ease-in forwards;
  animation: drop 0.25s ease-in forwards;
}

/* line 9, styles.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 14, styles.scss */
.header_site-slogan {
  margin-left: 40px;
  font-weight: 200;
  font-family: Helvetica, sans-serif;
}

/* line 20, styles.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
  background-color: #B3DBEC;
}
/* line 24, styles.scss */
.region-header.night-time {
  background-color: #2a83a9;
}
/* line 26, styles.scss */
.region-header.night-time .block {
  opacity: 0.88;
}
/* line 28, styles.scss */
.region-header.night-time .block:before {
  opacity: 0.4;
}
/* line 34, styles.scss */
.region-header.morning-time {
  background-color: white;
}
/* line 36, styles.scss */
.region-header.morning-time .block {
  opacity: 0.92;
}
/* line 38, styles.scss */
.region-header.morning-time .block:before {
  opacity: 0.6;
}
/* line 41, styles.scss */
.region-header.morning-time .block .header_site-slogan {
  color: #616f7b;
}
/* line 47, styles.scss */
.region-header .block {
  position: relative;
  padding: 0;
  text-align: center;
  z-index: 2;
}
/* line 52, styles.scss */
.region-header .block:before, .region-header .block:after {
  z-index: -1;
  top: 0;
  left: 0;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 4px url(../assets/header-spring-clouds.png) repeat-x;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
/* line 63, styles.scss */
.region-header .block:after {
  z-index: -1;
  background-image: url(../assets/px_header-background-winter.png);
}
/* line 68, styles.scss */
.region-header .block p {
  margin: 0;
  padding: 0;
}
/* line 72, styles.scss */
.region-header .block img {
  height: 20em;
  width: auto;
  vertical-align: bottom;
}
/* line 77, styles.scss */
.region-header .block .header_site-slogan {
  position: absolute;
  top: 0.6em;
  color: #fff;
  z-index: 5;
}
